<div ng-controller="ProviderViewCtrl">
  <legend><i class="fa fa-users fa-lg"></i> Prestataires</legend>
  <h4><i class="fa fa-eye"></i> Prestataire N° {{provider.ID}} - {{provider.LABEL}} </h4>
  <div  ng-show="deleteButton == '0' && editButton != 1">
    <div class="blocBorder col-md-6">
    <legend><i class="fa fa-info-circle fa-lg"></i> Informations</legend>
      <div class='row'>
        <label class="col-md-4 text-right control-label"> ID Prestataire:</label>
        <div class="col-md-4">
          {{provider.ID}}
        </div>
      </div>
      <div class='row'>
        <label class="col-md-4 text-right control-label"> Modifié le :</label>
        <div class="col-md-4">
          {{provider.EDITION_DATE | tsDateTime}}
        </div>
      </div>
      <div class='row borderTop'>
        <label class="col-md-4 text-right control-label"> Libellé:</label>
        <div class="col-md-8">
          {{provider.LABEL}}
        </div>
      </div>
      <div class='row borderTop'>
        <label class="col-md-4 text-right control-label"> Contact:</label>
        <div class="col-md-8">
          {{provider.CONTACT}}
        </div>
      </div>
      <div class='row borderTop'>
        <label class="col-md-4 text-right control-label"> Description:</label>
        <div class="col-md-8">
          {{provider.DESCRIPTION}}
        </div>
      </div>
      <div class='row'>
        <label class="col-md-4 text-right control-label">Adresse Web:</label>
        <div class="col-md-4 light-margin-bot">
          <a target="_new" href="http://{{provider.WEB_ADDRESS}}" class="btn btn-success"><i class="fa fa-globe"></i> Lien Web</a>
        </div>
      </div>
    </div>
    <div class='row col-md-12 light-margin-top text-left button-group'>
      <button type="submit" class="btn btn-info " ng-click="showList()"><i class="fa fa-list"></i> Liste</button>
      <button type="submit" class="btn btn-primary col-md-offset-1 " ng-click="edit()"><i class="fa fa-pencil"></i> Modifier</button>
      <button type="submit" class="btn btn-danger col-md-offset-1 " ng-click="deleteButton = 1"><i class="fa fa-trash-o"></i> Supprimer</button>
    </div>
  </div>

  <!-- we display the edit form only if the edit button is pushed and mask the rest -->
    <form class="col-md-6" ng-show="editButton == '1'">
      <div class="form-group">
        <label for="providerLabel">Libéllé</label>
        <input type="text" class="form-control" id="providerLabel" ng-model="provider.LABEL">
      </div>
      <div class="form-group">
        <label for="provider">Description</label>
        <input type="text" class="form-control" id="providerDesc" ng-model="provider.DESCRIPTION">
      </div>
      <div class="form-group">
        <label for="provider">Contact</label>
        <input type="text" class="form-control" id="providerbrand" ng-model="provider.CONTACT">
      </div>
      <div class="form-group">
        <label for="provider">Lien Web</label>
        <input type="text" class="form-control" id="providerWeb" ng-model="provider.WEB_ADDRESS">
      </div>
      <button type="submit" class="btn btn-danger col-md-offset-1 " ng-click="save()"><i class="fa fa-floppy-o"></i> Enregistrer</button>
      <button type="submit" class="btn btn-warning col-md-offset-1" ng-click="cancelEdit()"><i class="fa fa-undo"></i> Annuler</button>
    </form> 

  <!-- we display the delete comfirmation dialog when the delete button is pushed -->
  <div class="col-md-12 jumbotron text-center" ng-show="deleteButton == '1'">
    <legend>Êtes-vous sûr de vouloir supprimer le prestataire {{provider.ID}} -- <span class="text-warning ">{{provider.LABEL}}</span> ?</legend>
      <p class="text-danger">Les licences liées à ce prestataire devront être modifiées afin de leur assigner un nouveau prestataire</p>
      <p class="text-center">
        <button type="submit" class="btn btn-danger btn-lg" ng-click="deleteProvider()"  ><i class="fa fa-trash-o"></i> Oui</button>
        <button type="submit" class="col-md-offset-1 btn btn-success btn-lg" ng-model="deleteButton" btn-radio="'0'"><i class="fa fa-undo"></i>Non</button>
      </p>
  </div>
</div>