<div ng-controller="VersionningCrudCtrl">
  <legend>Nouveau</legend>
  <div ng-show="formDone == 0 && addButton != 1 && newProvider !=1">
    <form class="col-md-6 " >
      <div class="form-group">
        <label for="versionProduct">Nom du produit</label>
        <input type="text" class="form-control" id="versionProduct" ng-model="version.PRODUCT" placeholder="Nom du produit ...">
      </div>
      <div class="form-group">
        <label for="versionProduct">Mise à jour</label>
        <input type="text" class="form-control" id="versionProduct" ng-model="version.PRODUCT_UPDATE" placeholder="...">
      </div>
      <div class="form-group">
        <label for="versionProduct">Service Pack</label>
        <input type="text" class="form-control" id="versionProduct" ng-model="version.SERVICE_PACK" placeholder="...">
      </div>
      <div class="form-group">
        <label for="versionProduct">Patch Produit</label>
        <input type="text" class="form-control" id="versionProduct" ng-model="version.PATCH" placeholder="Patch ...">
      </div>
      <div class="form-group">
        <label for="versionProduct">Version actuelle</label>
        <input type="text" class="form-control" id="versionProduct" ng-model="version.CURRENT_VERSION" placeholder="Version actuelle ...">
      </div>
      <div class="form-group">
        <label for="versionProduct">A faire</label>
        <input type="text" class="form-control" id="versionProduct" ng-model="version.TODO" placeholder="...">
      </div>
      <button type="submit" class="btn btn-danger col-md-offset-1 " name='addButton' ng-model="addButton" btn-radio="'1'">Ajouter</button>
      <button type="submit" class="btn btn-warning col-md-offset-1" ng-click="showList()">Annuler</button>
    </form> 
  </div>
  
  <!-- we display the choice options when the form add is completed -->
  <div class="col-md-12 jumbotron text-center" ng-show="status == 'addVersion' && formDone == 1">
    <legend>Une nouvelle entrée a été ajoutée, que souhaitez-vous faire ?</legend>
    </br>
      <p class="text-center">
        <button type="submit" class="btn btn-default btn-lg" ng-click="showList()"  >Liste</button>
        <button type="submit" class="btn btn-default btn-lg col-md-offset-1" ng-click="viewVersion()"  >Afficher les détails</button>
        <button type="submit" class="btn btn-default btn-lg col-md-offset-1" ng-click="newVersion()"  >Nouvelle Licence</button>
      </p>
  </div>

  <!-- we display the add confirmation options when the add button is pushed -->
  <div class="col-md-12 jumbotron" ng-show="addButton ==1">
    <legend>Êtes-vous sûr des informations suivantes ?</legend>
      <div class="row"><div class="col-md-6 text-right">Produit: </div><div class="col-md-6 text-left text-warning"> {{version.PRODUCT}}</div></div>
      <p class="text-center light-margin-top">
        <button type="submit" class="btn btn-danger btn-lg" ng-click="addNewversion()">Oui</button>
      	<button type="submit" class="btn btn-warning btn-lg col-md-offset-1 " name='addButton2' ng-model="addButton" btn-radio="'0'" ng-click="">Annuler</button>
      </p>
  </div>

</div>