<div acl-show='recoveryAdmin' ng-controller="RecoveryAdminDetailsCtrl">
  <legend><i class=" animated rollIn fa fa-bed fa-lg"></i> Récupération</legend>
  <h4><i class=" animated rollIn fa fa-eye"></i> Agent : {{userId}} </span></h4>
<!--   <div class='row'><div class="col-md-4 "><input  class='form-control' type="text" name='listSearch' ng-model="recoverySearch" class="form-control" placeholder="Rechercher..." ng-change="searchRecovery()"/></div>
  </div> -->
  <table class="table table-striped table-bordered table-hover tbl-list light-margin-top animated slideInLeft">
    <thead>
      <tr class="info not-allowed"><th>ID</th><th>Date</th><th>Libéllé</th><th>Récupération obtenue (h)</th><th>Récupération utilisée (h)</th></tr>
    </thead>
    <tbody>
      <tr class="animated zoomIn" ng-repeat="recovery in recoveries" ng-click="viewRecovery(recovery)" >
        <td>{{recovery.ID}}</td>
        <td>{{recovery.DATE | tsDate}}</td>
        <td>{{recovery.LABEL}}</td>
        <td>{{recovery.RECOVERY_STOCK | hourConv}}</td>
        <td>{{recovery.RECOVERY_USED | hourConv}}</td>
      </tr>
      <tr class="reveal-animation not-allowed"><td></td><td></td><td></td><td><strong class="text-info">Total obtenu: {{recoveries.SUM_RECOVERY_STOCK | hourConv}} </strong></td><td><strong class="text-danger">Total utilisé: {{recoveries.SUM_RECOVERY_USED | hourConv}} </strong></td></tr>
      <tr class="reveal-animation text-center not-allowed" ><td colspan="5"><strong class="text-success ">Temps de récupération restant : {{(recoveries.SUM_RECOVERY_STOCK - recoveries.SUM_RECOVERY_USED) | hourConv}} </strong></td></tr>
    </tbody>
  </table>
        <!-- BUTTONS -->
      <div class="row col-md-12 light-margin-top">
        <button type="submit" class="btn btn-info col-md-offset-1 fadeInUp animated" name='addButton' ng-model="addButton" btn-radio="'1'" ng-click="admin()"><i class=" animated rollIn  fa fa-undo"></i> Retour </button>
      </div> 
</div>  