
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>PDF recovery</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../css/simplify.css">
</head>

<body class='blocBorder'>
<div class="text-center cold-md-12 blocBorder"><img class='img-circle' width: 50% src="../images/pnord.jpg"><h3>Fiche de déploiement</h3><div class="text-danger">Date de déploiement - {{DEPLOYMENT_DATE}} -</div></div>


  <div class="col-md-6 text-center blocBorder"><strong>Site : </strong>{{SITE}}</div>
  <div class="col-md-6 text-center blocBorder"><strong>Direction :</strong>{{DIRECTION}}</div>
<div class="col-md-12 light-margin-top blocBorder">
<div class="row"><div class="col-md-5 text-left"><strong>Type de matériel : </strong>{{TYPE}}</div></div>
<div class="row"><div class="col-md-5 text-left"><strong>Marque : </strong>{{BRAND}}</div></div>
<div class="row"><div class="col-md-5 text-left"><strong>Modèle : </strong>{{MODEL}}</div></div>
<div class="row"><div class="col-md-5 text-left"><strong>Code Barre : </strong>{{BARCODE}}</div></div>
<div class="row"><div class="col-md-5 text-left"><strong>Numéro de série : </strong>{{SERIAL_NUMBER}}</div></div>
<div class="row"><div class="col-md-5 text-left"><strong>Début de garantie : </strong>{{WARRANTY_START}}</div></div>
<div class="row"><div class="col-md-5 text-left"><strong>Fin de garantie : </strong>{{WARRANTY_END}}</div></div>
<div class="row"><div class="col-md-5 text-left"><strong>Description : </strong>{{DESCRIPTION}}</div></div>
</div>

<div class="col-md-12 text-center light-margin-top blocBorder">
  <h4>Observations</h4>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>

<div class="col-md-12 text-center light-margin-top">
  <div class="col-md-5 text-left" ><strong>Intervenant :{{OPERATOR}}</strong></div>
</div>



</body>

</html>