<div ng-hide='loading == 1'>
  <div class="modal-header">
      <h3 class="modal-title">Refuser la demande</h3>
  </div>
  <div class="modal-body">  
  <h4>Veuillez indiquer la raison du refus</h4>
  <input ng-model='form.REASON' type="text" class=" form-control">
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="refuse(form)">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
  </div>
</div>
<div ng-show='loading == 1'>
  <div class="modal-header">
      <h3 class="modal-title">Veuillez patienter ...</h3>
  </div>
  <div class="modal-body">  
  <h4>Opération en cours, veuillez patienter     <i class="fa fa-floppy-o fa-lg faa-fast faa-passing animated"></i></h4>
  </div>
</div>