
<div class="btn-group-vertical" role="group">
	<!-- Maintenance Menu --><!-- 
	<a class="btn btn-success disabled"><i class="fa fa-cogs fa-lg"></i> <strong>Maintenance</strong></a>
	<a class="btn btn-success btn-sm" ng-class="{active: $state.includes('')}" href="#/maintenance/list">Liste</a>
	<a class="btn btn-success btn-sm" href="#/maintenance/add">Nouveau</a> -->
	<!-- Inventory Menu -->
	<!-- <a class="btn btn-primary disabled"><i class="fa fa-list-ol fa-lg"></i> <strong>Inventaire</strong></a>
	<a class="btn btn-primary btn-sm" href="#/inventory/list">Liste</a>
	<a class="btn btn-primary btn-sm" href="#/inventory/add">Nouveau</a>   -->
	<!-- Versionning Menu -->
	<a class="btn btn-black disabled"><i class="fa fa-list fa-lg"></i> <strong>Versionning</strong></a>
	<a class="btn btn-black btn-sm" href="#">Liste</a>
	<a class="btn btn-black btn-sm" href="#">Nouveau</a>
	<!-- Material Menu --><!-- 
	<a class="btn btn-info disabled"><i class="fa fa-desktop fa-lg"></i> <strong>Matériel</strong></a>
	<a class="btn btn-info btn-sm" href="#/material/list">Liste</a>
	<a class="btn btn-info btn-sm" href="#/material/add">Nouveau</a> -->
	<!-- License Menu -->
	<a class="btn btn-danger disabled"><i class="fa fa-files-o fa-lg"></i> <strong>Licences</strong></a>
	<a class="btn btn-danger btn-sm" href="#/license/list">Liste</a>
	<a class="btn btn-danger btn-sm" href="#/license/add">Nouveau</a>
	<a class="btn btn-danger btn-sm" href="#/license/overview">Vue d'ensemble</a>
</div>  