
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
  <title>PDF recovery</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<style type='text/css'>

.infoTable{
  border-collapse: collapse;
}
.text-info{
  color: blue;
}
.text-warning{
  color: orange;
}
.text-danger{
  color: red;
}
.text-success{
  color: green;
}
.infoTable td,th{
  border: 1px solid black;
}
.bordered{
  border: 1px solid black;
}
.tdInfoData{
  padding-left: 2px;
  font-size: 12px;
}
.tdInfoLabel{
  padding-left: 2px;
  font-size: 17px;
  font-weight:bold;
}

</style>
<body class=''>

<table>
 <tr>
  <td width="300"><img width=220 height=170 src="../images/pnord.jpg"></td>
  <td width="300">
    <p>Service Exploitation,</p>
    <p>Cellule Reseaux et Systemes</p>
    <p>KONE le {{CREATION_DATE}}</p>
  </td>
 </tr>
</table>
<p class=MsoNormal>&nbsp;</p>
<p class=MsoNormal>&nbsp;</p>
<p class=MsoNormal>&nbsp;</p>
<p class=MsoNormal><strong> Objet : </strong>Demande de recuperation</p>
<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Madame,</p>

<p class=MsoNormal>Je sollicite votre bienveillance pour la prise d'heures de
recuperation le :</p>

<p class='text-info'>{{DATE}} <strong>({{TO_USE}} heures)</strong></p>

<p class=MsoNormal>Ci-joint le recapitulatif des heures effectuees&nbsp;:</p>

<p class=MsoNormal><span>[[BLOC_RECOVERIES]]<o:p></o:p></span></p>

<p class=MsoNormal><span><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal>Cordialement,</p>

<p class=MsoNormal><span>{{USER_FAMILY_NAME}}
{{USER_NAME}} ,</span> {{ROLE}}<o:p></o:p></span></p>

<p class=MsoNormal>&nbsp;</p>
<p class=MsoNormal>&nbsp;</p>

<div class="bordered infoTable">
  <p class=MsoNormal><strong>Avis du chef de service : </strong></p>
  <p class='text-success'>Favorable [X]</p>
  
</div>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>Mme Lusia ROUSSEAU, Directrice de la DSI</p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</body>

</html>