<div class="jumbotron light-margin-top text-center">
  <h1>Bienvenue sur <span class="label label-info">!Simplify</span></h1>
  <p class="light-margin-top"	><span class="col-md-6 text-right">Gestion des maintenances</span><span class=" text-left col-md-6 text-warning"> Semaine 15 </span>
		<span class="col-md-6 text-right">Gestion des récupération v2</span><span class=" text-left col-md-6 text-warning"> Semaine 15 </span>
		<span class="col-md-12 text-info light-margin-top"> Optimisé pour une résolution 1920*1080 (Chrome ou Firefox) </span>
	</p>
  <p class="text-success light-margin-top">- v 1.3.2 -</p>
</div> 