<div class="margin-top jumbotron col-offset-1 col-md-8">
  <h1 class=" text-center">Bienvenue sur <span class="label label-info">!Simplify v0.1</span></h1>
  <div class=" text-center">
	<p>Prototype de démonstration</p>
	<p class="text-warning">- Initiative DevOps -</p>
	<div class="light-margin-top">
		<a class="btn btn-danger btn-lg" href="#/license/add"><i class="fa fa-file-o"></i> Créer une nouvelle licence</a>
		<a class="btn btn-warning btn-lg" href="#/license/list"><i class="fa fa-list"></i> Afficher la liste des licences</a>
	</div>
  </div> 
</div>