<div class="jumbotron animated  light-margin-top text-center">
  <h1 class="">Bienvenue sur <span class="label label-info animated bounceInDown">!Simplify</span></h1>
  <p class="text-warning light-margin-top"><strong>Notes de mise à jour : </strong></p>
  <p class="text-success animated bounceInLeft">Animations ajoutées</p>
  <p class="text-success animated bounceInLeft">Gestion des Heures supplémentaires améliorée</p>
  <p class="text-success animated bounceInLeft">Gestion des Certificats améliorée (upload de fichiers)</p>
  <p class="text-success animated bounceInLeft">Gestion du Versionnning améliorée (gestion des maintenances + upload fichiers)</p>
  <p class="text-success animated bounceInLeft">Correction de bugs globale</p>
  <p class="text-success animated bounceInLeft">Compatibilité avec FireFox améliorée</p>
  <p class="text-warning light-margin-top">-</p>
  <p class="text-success light-margin-top animated zoomInDown">- v 1.4.0 -</p>
		<span class="col-md-12  text-info light-margin-top animated zoomInLeft"> Optimisé pour une résolution 1920*1080 (Google Chrome) </span>
</div> 
