<legend><i class="fa fa-barcode fa-lg"></i> Maintenance</legend>
  <h4><i class="fa fa-list"></i> Liste </h4>
<div ng-controller="MaintenanceListCtrl">
  <div class='row'><div class="col-md-4 "><input  class='form-control' type="text" name='listSearch' ng-model="maintenanceSearch" class="form-control" placeholder="Rechercher..." ng-change="searchMaintenance()"/></div>
  </div>
  <table class="table table-striped table-bordered table-hover tbl-list light-margin-top">
  	<thead>
  		<tr class="info not-allowed"><th>Logiciel</th><th>Date</th><th>Libellé</th><th>Opération</th><th>Problèmes rencontrés</th></tr>
  	</thead>
  	<tbody>
  		<tr class="reveal-animation" ng-repeat="maintenance in maintenances" ng-click="viewMaintenance(maintenance)" >
        <td>{{maintenance.software.LABEL}}</td>
        <td>{{maintenance.DATE | tsDateTime}}</td>
        <td>{{maintenance.LABEL}}</td>
        <td>{{maintenance.DESCRIPTION}}</td>
        <td>{{maintenance.ISSUES}}</td>
  		</tr>
  	</tbody>
  </table>  
</div>  