<div ng-controller="BrandCrudCtrl">
  <!-- New brand form -->      
  <legend>Nouvelle Marque / Entreprise</legend> 
  <form class="col-md-6 row" >
    <div class="col-md-7">     
      <label for="brandLabel">Libéllé</label>
      <input type="text" class="form-control" id="brandLabel" ng-model="newBrandForm.LABEL" placeholder="entrez le libéllé ...">
    </div>
    <div class="col-md-7">
      <label for="brandWebAddress">Site web</label>
      <input type="text" class="form-control" id="brandWebAddress" ng-model="newBrandForm.WEB_ADDRESS" placeholder="site web ...">
    </div> 
    <div class="row col-md-12 light-margin-top">
      <button class="btn btn-danger" ng-model="addBrand" ng-click="add()"><i class="fa fa-floppy-o"></i> Ajouter</button>
      <button class="btn btn-warning col-md-offset-1" ng-model="newBrand" ng-click="cancelAdd()"><i class="fa fa-undo"></i> Annuler</button>
    </div> 
  </form>
</div>
</div>