<legend><i class="  fa fa-building fa-lg"></i>Marques / Entreprises</legend>
<h4><i class="  fa fa-file-o"></i> Nouveau </h4>
<div ng-controller="BrandCrudCtrl">
  <form class="col-md-6 row" >
    <div class="col-md-7">     
      <label for="brandLabel">Libéllé</label>
      <input type="text" class="form-control" id="brandLabel" ng-model="newBrandForm.LABEL" placeholder="entrez le libéllé ...">
    </div>
    <div class="col-md-7">
      <label for="brandWebAddress">Site web</label>
      <input type="text"  popover-placement="top" popover-trigger="focus" Popover-animation="true" popover="rentrez l'URL complète (avec http:// ...)" class="form-control" id="brandWebAddress" ng-model="newBrandForm.WEB_ADDRESS" placeholder="site web ...">
    </div> 
    <div class="row col-md-12 light-margin-top">
      <button class="btn animated flipInY btn-danger" ng-model="addBrand" ng-click="add()"><i class="  fa fa-floppy-o"></i> Ajouter</button>
      <button class="btn animated flipInY btn-warning col-md-offset-1" ng-model="newBrand" ng-click="cancelAdd()"><i class="  fa fa-undo"></i> Annuler</button>
    </div> 
  </form>
</div>
</div>